@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

html {
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  font-size: 1.8rem; }

.container {
  height: 100vh;
  background: url("/images/bg-mobile-dark.jpg") no-repeat;
  background-color: black; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem; }

.input-container {
  width: 90%;
  margin: auto; }

input {
  width: 100%;
  background-color: #393a4c;
  border: none;
  border-radius: 5px;
  outline: none; }

ul {
  margin: 0;
  padding: 0;
  margin-top: 4rem; }

.todo-item {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #393a4c;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #777a92; }
  .todo-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.footer {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #393a4c;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none; }

.round {
  border: 2px solid red;
  height: 20px;
  width: 20px;
  border-radius: 50%; }

.task-complete {
  background-color: blue; }

.close-cross {
  fill: red;
  width: 20px;
  height: 20px; }

.line-through {
  text-decoration: line-through; }

.attribution {
  font-size: 11px;
  text-align: center;
  display: block; }

.attribution a {
  color: #3e52a3; }
