@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

:root {
  --background-color: hsl(235, 21%, 11%);
  --mobile-image: url('/images/bg-mobile-dark.jpg');
  --desktop-image: url('/images/bg-desktop-dark.jpg');
  --todo-background: hsl(235, 24%, 19%);
  --todo-text: hsl(234, 11%, 52%);
  --outline: #393a4c;
  --input-text: white;
  --footer-hover: white; }

[data-theme='dark'] {
  --background-color: hsl(236, 33%, 92%);
  --mobile-image: url('/images/bg-mobile-light.jpg');
  --desktop-image: url('/images/bg-desktop-light.jpg');
  --todo-background: white;
  --todo-text: hsl(237, 14%, 26%);
  --outline: hsl(234, 39%, 85%);
  --input-text: hsl(237, 14%, 26%);
  --footer-hover: hsl(237, 14%, 26%); }

html {
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  font-size: 1.8rem; }

.container {
  height: 100vh;
  background: var(--mobile-image) no-repeat;
  background-color: var(--background-color); }
  @media (min-width: 380px) {
    .container {
      background: var(--desktop-image) no-repeat;
      background-color: var(--background-color); } }

.content-container {
  max-width: 500px;
  margin: auto; }
  @media (min-width: 1000px) {
    .content-container {
      max-width: 42%; } }

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2.7rem; }
  @media (min-width: 1000px) {
    header {
      padding-top: 7rem;
      margin-bottom: 3.7rem; } }

.title {
  padding-top: 3px;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 6px; }
  @media (min-width: 380px) {
    .title {
      font-size: 4.5rem; } }

.input-container {
  width: 90%;
  margin: auto;
  display: flex;
  background-color: var(--todo-background);
  padding: 1rem;
  align-items: center;
  border-radius: 4px; }
  @media (min-width: 1000px) {
    .input-container {
      padding: 2rem; } }

input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--input-text);
  margin-left: 1rem; }

ul {
  margin: 0;
  padding: 0;
  margin-top: 2rem; }

.todo-item {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: var(--todo-background);
  color: var(--todo-text);
  padding: 1.2rem 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--outline); }
  .todo-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  @media (min-width: 1000px) {
    .todo-item {
      padding: 2rem; } }

.todo-item a {
  width: 20px;
  height: 20px; }

.todo-item img {
  display: none; }

.todo-item:hover img {
  display: block; }

.desktop-filter {
  display: none; }
  @media (min-width: 380px) {
    .desktop-filter {
      display: flex;
      width: 40%;
      justify-content: space-between; } }

.drag {
  text-align: center;
  margin-top: 3rem;
  color: #393a4c; }

.footer {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: var(--todo-background);
  color: var(--todo-text);
  padding: 1.5rem;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  font-weight: 700; }

.footer li:hover,
.desktop-filter li:hover {
  color: var(--footer-hover); }

.filter {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  background-color: var(--todo-background);
  color: #777a92;
  padding: 1rem;
  justify-content: space-around;
  border-radius: 10px; }
  @media (min-width: 380px) {
    .filter {
      display: none; } }

.filter li:hover {
  color: var(--footer-hover); }

.round {
  border: 1px solid var(--outline);
  height: 20px;
  width: 20px;
  border: 1px solid transparent;
  background-image: linear-gradient(var(--todo-background), var(--todo-background)), radial-gradient(circle at top left, #57ddff, #c058f3);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%; }

.input-round {
  border: 1px solid var(--outline);
  border-radius: 50%;
  height: 20px;
  width: 22px; }

.task-complete {
  background-image: url("../images/icon-check.svg"), linear-gradient(to left, #57ddff, #c058f3);
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  border: none; }

.close-cross {
  width: 20px;
  height: 20px; }

.line-through {
  text-decoration: line-through;
  color: var(--outline); }

.footer li {
  list-style: none;
  font-size: 1.3rem; }

.filter li {
  list-style: none;
  font-size: 1.3rem; }

.toggle-button {
  background-image: url("../images/icon-moon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px; }

.toggle-light {
  background-image: url("../images/icon-sun.svg"); }

.attribution {
  font-size: 11px;
  text-align: center;
  display: block; }

.attribution a {
  color: #3e52a3; }
