@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  font-family: 'Josefin Sans', Helvetica, sans-serif; }

.attribution {
  font-size: 11px;
  text-align: center;
  display: block; }

.attribution a {
  color: #3e52a3; }
