//Primary

$brightBlue: hsl(220, 98%, 61%);
$checkBackgroundLeft: hsl(192, 100%, 67%);
$checkBackgroundRight: hsl(280, 87%, 65%);
//Neutral

//Light Theme

$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

//Dark Theme

$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$lightGrayishBlue: hsl(236, 33%, 92%);
$darkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlue: hsl(233, 14%, 35%);
$veryDarkGrayishBlue: hsl(237, 14%, 26%);

:root {
  --background-color: black;
  --mobile-image: url('/images/bg-mobile-dark.jpg');
  --desktop-image: url('/images/bg-desktop-dark.jpg');
}

[data-theme='dark'] {
  --background-color: white;
  --mobile-image: url('/images/bg-mobile-light.jpg');
  --desktop-image: url('/images/bg-desktop-light.jpg');
}

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (min-width: 600px) {
      @content;
    }
  }
}
