@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import 'reset';
@import 'variables';

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  font-size: 1.8rem;
}

.container {
  height: 100vh;
  background: var(--mobile-image) no-repeat;
  background-color: var(--background-color);

  @media (min-width: 380px) {
    background: var(--desktop-image) no-repeat;
    background-color: var(--background-color);
  }
}

.content-container {
  max-width: 500px;
  margin: auto;
}

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.title {
  padding-top: 3px;
  color: #fff;
  font-size: 2.5rem;
}

.input-container {
  width: 90%;
  margin: auto;
  display: flex;
  background-color: $veryDarkGrayishBlue;
  padding: 1rem;
  align-items: center;
}

input {
  width: 100%;
  background-color: $veryDarkGrayishBlue;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  margin-left: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 4rem;
}

.todo-item {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: $veryDarkGrayishBlue;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid $darkGrayishBlue;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.desktop-filter {
  display: none;

  @media (min-width: 380px) {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }
}

.drag {
  text-align: center;
  margin-top: 3rem;
  color: $veryDarkGrayishBlue;
}

.footer {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: $veryDarkGrayishBlue;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

.filter {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  background-color: $veryDarkGrayishBlue;
  color: $darkGrayishBlue;
  padding: 1rem;
  justify-content: space-around;
  border-radius: 10px;
  // display: none;

  @media (min-width: 380px) {
    display: none;
  }
}

.filter li:hover {
  color: white;
}

.round {
  border: 2px solid $darkGrayishBlue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.task-complete {
  background-image: url('../images/icon-check.svg'),
    linear-gradient(to left, $checkBackgroundLeft, $checkBackgroundRight);
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  border: none;
}

.close-cross {
  fill: red;
  width: 20px;
  height: 20px;
}

.line-through {
  text-decoration: line-through;
}

.footer li {
  list-style: none;
  font-size: 1.3rem;
}

.filter li {
  list-style: none;
  font-size: 1.3rem;
}

.toggle-button {
  background-image: url('../images/icon-moon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}
.toggle-light {
  background-image: url('../images/icon-sun.svg');
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
